PORT=4321
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=routime
MONGODB_COLLECTION=sync
DRIVE_FOLDER_ID=your_drive_folder_id
DRIVE_PUBLIC=true
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_OAUTH_CLIENT_ID=your_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_client_secret
GOOGLE_OAUTH_REDIRECT=http://localhost:4321/oauth2/callback
